.confidence-1 {
	width: 90%
}
.confidence-2 {
	width: 90%
}
.confidence-3 {
	width: 90%
}
.confidence-4 {
	width: 90%
}
.confidence-5 {
	width: 90%
}
.confidence-6 {
	width: 90%
}
.confidence-7 {
	width: 90%
}
.confidence-8 {
	width: 90%
}
.confidence-9 {
	width: 90%
}
.confidence-10 {
	width: 90%
}