.confidence-1 {
	width: 0%
}
.confidence-2 {
	width: 0%
}
.confidence-3 {
	width: 0%
}
.confidence-4 {
	width: 0%
}
.confidence-5 {
	width: 0%
}
.confidence-6 {
	width: 0%
}
.confidence-7 {
	width: 0%
}
.confidence-8 {
	width: 0%
}
.confidence- {
	width: 0%
}
.confidence-10 {
	width: 0%
}