.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.not-active {
   pointer-events: none;
   cursor: default;
}

#index-banner .section {
    top: 10%;
}

.text-outline {
	text-shadow:
	-1px -1px 0 #0000f0,
	 1px -1px 0 #0000f0,
	 -1px 1px 0 #0000f0,
	  1px 1px 0 #0000f0;  
}
.parallax-container {
  min-height: 410px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  width: 100%;
  padding-top: -10px;
  margin: 0;
}

.hero {
  min-height: 90vh !important;
}

footer.page-footer {
  margin: 0;
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
flex: 1 0 auto;
}

@-webkit-keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes chevron-pulse {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tcon-svgchevron {
  height: 40px;
  width: 40px; }

.tcon-svgchevron path {
  -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: white;
  stroke-width: 1px; }

.tcon-svgchevron path.a1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.tcon-svgchevron path.a2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.tcon-svgchevron path.a3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }
